<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<th:block th:replace="~{layout/config::config}"></th:block>
</head>
<header th:replace="~{layout/header::header}"></header>
<body>
<th:block th:unless="${#strings.toString(#authentication.principal.user.role) == 'ADMIN'}">
접근권한이 없습니다.
<input type="button" value="뒤로가기" onclick="history.back();" />
</th:block>
<th:block th:if="${#strings.toString(#authentication.principal.user.role) == 'ADMIN'}">
	<div class="container">
		<br />
		<h1 align="center">지점 추가</h1>
		<br />
		<form>
			<div class="form-group">
				<label for="branchName">지점명 : </label> <input type="text" class="form-control" placeholder="지점명을 입력하세요" id="branchName">
			</div>
			<div class="form-group">
				<label for="branchAddress">지점 주소 : </label> <input type="text" class="form-control" placeholder="주소를 입력하세요" id="branchAddress">
			</div>
			<div class="form-group">
				<label for="branchDirectNumber">지점 전화번호 : </label> <input type="tel" class="form-control" placeholder="전화번호를 입력하세요" id="branchDirectNumber" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}">
			</div>
		</form>
		<button id="btn-add" class="btn btn-primary">등록</button>
	</div>
</th:block>
	<script src="/js/branch.js"></script>
</body>
<footer th:replace="~{layout/footer::footer}"></footer>
</html>